---

---

<section
  id="about"
  class="container text-white flex flex-col text-center mx-auto justify-center items-center relative"
>
  <div class="relative z-10 w-1/2">
    <h1 class="font-bold text-4xl">Hi, I am Vladimir Pinera, Web Developer.</h1>
    <p class="pt-10">
      Computer Science student at the University of Havana, passionate about web
      development and machine learning.
    </p>
  </div>
</section>

<style>
  section {
    height: 100vh;
    position: relative;
    overflow: hidden;
  }
</style>
