---
import ProjectCard from "../components/utils/Project-Card.astro";
---

<section class="" id="projects">
  <h1 class="text-white text-center pt-25 mb-10">Latest Projects</h1>
  <ProjectCard
    title="Moogle"
    description="Modelo Vectorial de Recuperacion de Informacion"
    imageUrl="https://th.bing.com/th/id/R.d71e6f9e836228ee6183f5abfaba77d6?rik=ypTaq9Xw9gdYDw&pid=ImgRaw&r=0"
  />
  <ProjectCard
    title="Moogle"
    description="Modelo Vectorial de Recuperacion de Informacion"
    imageUrl="https://th.bing.com/th/id/R.d71e6f9e836228ee6183f5abfaba77d6?rik=ypTaq9Xw9gdYDw&pid=ImgRaw&r=0"
  />
  <ProjectCard
    title="Moogle"
    description="Modelo Vectorial de Recuperacion de Informacion"
    imageUrl="https://th.bing.com/th/id/R.d71e6f9e836228ee6183f5abfaba77d6?rik=ypTaq9Xw9gdYDw&pid=ImgRaw&r=0"
  />
</section>

<style>
  section {
    position: relative;
    overflow: hidden;
  }
</style>
