---
interface ProjectCardProps {
  title: string;
  description: string;
  imageUrl: string;
}
---

<div
  class="max-w-md mx-auto bg-white rounded-xl shadow-md overflow-hidden md:max-w-2xl m-3"
>
  <div class="md:flex">
    <div class="md:flex-shrink-0">
      <img
        class="h-48 w-full object-cover md:w-48"
        src={Astro.props.imageUrl}
        alt={Astro.props.title}
      />
    </div>
    <div class="p-8">
      <div
        class="uppercase tracking-wide text-sm text-indigo-500 font-semibold"
      >
        {Astro.props.title}
      </div>
      <p class="mt-2 text-gray-500">{Astro.props.description}</p>
    </div>
  </div>
</div>
